# Python
__pycache__/
*.pyc
.venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Helm / charts
charts/*.tgz

# Kubernetes local tooling
kubeconfig*
*.log

# Terraform (future)
.terraform/
*.tfstate*
*.tfvars
